Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h.in
config.h.in~
config.sub
configure~
configure
configure.in
configure.ac
install-sh
ltmain.sh
ltmain.sh.backup
missing
mkinstalldirs
run-tests.php
dio-*.tgz
sendpackagist

.deps
*/*.dep
Makefile
Makefile.fragments
Makefile.objects
config.h
config.log
config.nice
config.status
libtool

.libs/
*.la
*.lo
modules/
